:root {
  --primaryFont: "Poppins", sans-serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */
  background: rgb(234, 234, 234);
  background: linear-gradient(
    270deg,
    rgba(234, 234, 234, 1) 0%,
    rgba(234, 234, 234, 1) 47%,
    rgba(130, 58, 224, 1) 50%,
    rgba(130, 58, 224, 1) 100%
  );
}
